:host{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    border: 1px solid #23a03e;
}
.reproductor {
    display: flex;
    padding: 8px 30px;
    align-items: center;
    width: 100%;
    height: 76%;
}

.album-image {
    width: 50px; 
    margin-right: 10px; 
}

.info {
    flex-grow: 1; 
}

.titulo {
    margin: 0; 
}

.artistas-container {
    max-width: 236px; /* ajusta según tu diseño */
    white-space: nowrap;
    overflow: hidden;
}

.artistas {
    display: inline-block;
}

.anima {
    animation: slide 30s linear infinite; /* Ajusta la duración según tus necesidades */
}

.botones{
    position: relative;
    right: 131%;
    top: -19%;
}

.play{
    /*circulo de fondo*/
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%; /* Forma el fondo del ícono en un círculo */
    padding: 11px;
    color: #23a03e;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: inline-block;
}

.play:hover{
    color: #72e48a;
    cursor: pointer;
    transform: scale(1.1);
}

.retoava{
    color: #23a03e;
    cursor: pointer;

}

.retoava:hover{
    color: #72e48a;
    cursor: pointer;
}

.botones-y-barra{
    display: flex;
    width: 30%;
    position: relative;
    flex-direction: column;
    right: -15%;
}

.botones fa-icon {
    margin-left: 45px; /* Ajusta el espaciado entre los iconos */
    font-size: 18px;
}

.barra-progreso {
    appearance: none;
    width: 100%;
    height: 4px;
    margin: 0 5px;
    outline: none;
    border: none;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 var(--range-value, 0%), transparent var(--range-value, 0%), transparent 100%);
    transition: background 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.barra-progreso::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.total{
    font-size: 12px;
    font-weight: bold;

}

.contador{
    font-size: 12px;
    font-weight: bold;
}

.barra-progreso:hover::-webkit-slider-thumb {
    background-color: #23a03e;
}

.contador-barra {
    position: relative;
    right: 161%;
    top: -19%;
    white-space: nowrap;
}



@keyframes slide {
    0% {
        transform: translateX(-1%); /* Empieza la animación desde la derecha */
    }
    50% {
        transform: translateX(-68%); /* Llega hasta la izquierda */
    }
    100% {
        transform: translateX(0%); /* Regresa hasta la derecha */
    }
}


/*Album en grande*/



.imagen-grande{
    height: 65%;
    background-size: cover;
    overflow: hidden;

}

.agrandar {
    font-size: 15px !important;
    border: 1px solid black !important;
    border-radius: 15% !important;
    padding: 5px !important;
    position: relative !important;
    right: 24% !important;
    cursor: pointer;
}

/*Volumen*/


.barra-volumen {
    appearance: none;
    width: 100%;
    height: 4px;
    margin: 0 5px;
    outline: none;
    border: none;
    background: linear-gradient(to right, #4CAF50 0%, #4CAF50 var(--range-value, 50%), transparent var(--range-value, 0%), transparent 100%);
    transition: background 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.barra-volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.barra-volumen:hover::-webkit-slider-thumb {
    background-color: #23a03e;
}

.div-volumen{
    width: 8%;
    white-space: nowrap;
    position: relative;
    right: 15%;
}