<div class="reproductor">
    <img [src]="musica.album.imagenUrl" class="album-image">
    <div class="info">
        <p class="titulo">{{ musica.titulo }}</p>
        <div class="artistas-container">
            <span class="artistas">{{ obtenerArtistas(musica) }}</span>
        </div>
    </div>
    <div class="botones-y-barra">
        <div class="botones">
            <fa-icon class="retoava" [icon]="botonAnterior" (click)="cancionAnterior()"></fa-icon>
            <fa-icon class="play" [icon]="reproduciendo ? botonPausar : botonplay" (click)="reproduciendo ? pausarReproduccion() : reanudarReproduccion()"></fa-icon>
            <fa-icon class="retoava" [icon]="botonSiguiente" (click)="proximaCancion()"></fa-icon>
        </div>
        <div class="contador-barra">
            <span class="contador">{{ formatarTiempo(contadorTiempo) }}</span>
            <input type="range" class="barra-progreso" [value]="contadorTiempo" min="0" [max]="duracionTotal">
            <span class="total">{{ formatarTiempo(duracionTotal) }}</span>
        </div>

    </div>

    <fa-icon class="agrandar" [icon]="iconoAgrandar"></fa-icon>

    <div class="div-volumen" (input)="cambiarVolumen($event)">
        <fa-icon [icon]="getIconForVolume(volumenActual)" (click)="toggleMute()"></fa-icon>
        <input type="range" class="barra-volumen" min="0" max="100" [(ngModel)]="volumenActual" />
    </div>
</div>
