<div class="musica-top">
    <span class="musica-title">Top 50 Ubicación</span>
    
    <app-top50ubi class="topubi"></app-top50ubi>

    <span class="musica-title">Top favoritas de {{usuario?.name}} <button (click)="reproducirCancionAleatoriaGustada()">Aleatoria</button></span>
    
    

    <table class="tablemusic">
        <thead>
            <tr>
                <th class="w-5">Play</th>
                <th class="w-5"></th>
                <th class="w-35">Titulo</th>
                <th class="w-30">Artista</th>
                <th class="w-10 directa">Tiempo</th>
                <th class="w-20">Album</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let musica of musicas" (click)="executeMusica(musica)" [class.reproduciendose]="musica.id === musicaActual.id">
                <td style="text-align: center;">
                    <fa-icon class="play" [icon]="playIcon"></fa-icon>
                </td>
                <td><img [src]="musica.album.imagenUrl" alt="Imagen album"></td>
                <td>{{musica.titulo}}</td>
                <td>{{obtenerArtistas(musica)}}</td>
                <td class="directa">{{musica.tiempo}}</td>
                <td>{{musica.album.name}}</td>
            </tr>
            
        </tbody>
    </table>

    
</div>
<app-panel-reproductor [musicas]="musicas" class="panel-reproductor"></app-panel-reproductor>
<app-panel-derecho class="panel-derecho">
    
</app-panel-derecho>

