
<div class="menus">
    <div class="imagen-spoti-cointainer">
        <img src="../../../assets/images/spotify-logo.png" alt="dawdadaw">
    </div>

    <div class="menu-contenedor flex">
        <app-boton-menu [descripcion]="'Home'" [selected]="menuSelected === 'Home'" (click)="botonClick('Home')">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-boton-menu>
        <app-boton-menu [descripcion]="'Buscar'" [selected]="menuSelected === 'Buscar'" (click)="botonClick('Buscar')">
            <fa-icon [icon]="searchIcon"></fa-icon>
        </app-boton-menu>
        <app-boton-menu [descripcion]="'Globales'" [selected]="menuSelected === 'Globales'"
            (click)="botonClick('Globales')">
            <fa-icon [icon]="countryIcon"></fa-icon>
        </app-boton-menu>

    </div>

    <div class="menu-movil flex">
        <app-boton-menu [descripcion]="'Inicio'" [selected]="menuSelected === 'Inicio'" (click)="botonClick('Inicio')">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-boton-menu>
        <app-boton-menu [descripcion]="'Buscar'" [selected]="menuSelected === 'Buscar'" (click)="botonClick('Buscar')">
            <fa-icon [icon]="searchIcon"></fa-icon>
        </app-boton-menu>
        <app-boton-menu [descripcion]="'Globales'" [selected]="menuSelected === 'Globales'"
            (click)="botonClick('Globales')">
            <fa-icon [icon]="countryIcon"></fa-icon>
        </app-boton-menu>
    </div>

    <div class="menu-contenedor flex">
        <span class="playlist-title">TOP Globales</span>

        <div class="playlist-scroll">
            <app-boton-menu *ngFor="let playlistItem of playlist" [descripcion]="playlistItem.name"
                [selected]="menuSelected === playlistItem.id" (click)="irPlaylist(playlistItem.id)">
                <fa-icon [icon]="playlistIcon"></fa-icon>
            </app-boton-menu>
        </div>
    </div>
</div>

<div class="usuario-info">
    <app-parte-usuario></app-parte-usuario>
</div>